body {
    background: rgb(98, 185, 239);
}

h1 {
    margin-top: 30px;
    padding: 15px;
    font-family: 'Roboto',
        sans-serif;
    border: 2px solid rgb(52, 83, 86);
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.3);
}

.location {
    font-size: 50px;
}

.location-conditions {
    font-size: 35px;
}

.change-city {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
}

h2 {
    font-family: 'Roboto',
        sans-serif;
    padding: 20px;

}

a:hover {
    text-decoration: none;
}
.sourceCode{
    text-align: center;
    margin: 0 auto;
}